.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(249, 158, 190);
    margin-left: 0px;
}
.img-header{
  width: 50%;
   
    
    margin: auto;
    margin-top: 25px;
    margin-left: 0px;
    align-items: left;
}
.tittle{
    text-align: left;
    align-items: left;
}